<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/afbeelding">Afbeeldingen</a></li>
        <li><a href="/animatie">Animatie</a></li>
        <li><a href="/berichtgeving">Berichtgeving</a></li>
        <li><a href="/blokken">Blokken</a></li>
        <li><a href="/formulieren">Formulieren</a></li>
        <li><a href="/globals">Globals</a></li>
        <li><a href="/headings">Headings</a></li>
        <li><a href="/iconen">Iconen</a></li>
        <li><a href="/interactieve-componenten">Interactieve componenten</a></li>
        <li><a href="/kleuren">Kleuren</a></li>
        <li><a href="/knoppen">Knoppen</a></li>
        <li><a href="/lijsten">Lijsten</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/reclame">Reclame</a></li>
    </ul>
</nav>   

<main>